#nav-bar{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom:10px;
   margin-bottom: 3rem;
 }
 /* Modal Content */
 #accordion-padding-one{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
 
 }
 
 
 
 #subject-title{
    border: none;
    font-size: xx-large;
    padding: 0px;
    
  
 }
   #add-task{
    max-width: 83%;
   }
 #button-addon2{
    margin-top: -16%;
    margin-left: 86%;
 }
 ul.list-group{
    --bs-list-group-item-padding-x:0rem ;
    --bs-list-group-item-padding-y:0rem ;
    font-size: medium;
    --bs-list-group-border-color: none;
    
 
 }
 
 div.accordion-item{
    border-right: none;
    border-left: none;
    border-bottom: none;
 }
 
 .total-accordion{
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
 }
 
 /* Note Card Content */
 
 
#delete-btn  {
    border: none;
    float: right;
   
    padding: 0px;
    font-size: small;
    color: rgb(118, 118, 121);
    --bs-btn-bg: aqua;
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    margin-left: 250px;
 
   
 } 
 #ellipsis-footer{
   border:none;
   padding:0px;
   position:absolute;
   bottom: 10px;
  
   
   color:rgb(118, 118, 121) !important;
   
}


 
/* index page */

 .note-card {
  
   background-color: aqua !important;
   width: 400px !important;
   height:400px !important;
 
  /*needed this styling to match horizontal. 48px*/
  margin-left:3rem;
 
   
   border-color: black;
   border-style: solid;
}

  
   


.body-text{
 min-height: 250px;
 height:250px;
 text-overflow: ellipsis;
 position: relative;

 overflow: hidden;
 white-space:wrap;


}

.card{
   --bs-card-border-width: 10px !important;
   --bs-card-cap-bg: none !important;
}

.form-check{

   max-height: 50px;
   overflow:hidden;
   white-space:wrap;
}


.list-group-item{

   background-color: aqua !important;
}

.cardCheckbox { 
    position: absolute;
}
input[type="checkbox"] ~ label { 
    padding-left:1.4em;
    display:inline-block;
}