#nav-bar{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
 }
 /* Modal Content */
 #accordion-padding-one{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
 
 }
 
 
 
 #subject-title{
    border: none;
    font-size: xx-large;
    padding: 0px;
    
  
 }
   #add-task{
    max-width: 83%;
   }
 #button-addon2{
    margin-top: -16%;
    margin-left: 86%;
 }
 ul.list-group{
    --bs-list-group-item-padding-x:0rem ;
    --bs-list-group-item-padding-y:0rem ;
    font-size: medium;
    --bs-list-group-border-color: none;
    
 
 }
 
 div.accordion-item{
    border-right: none;
    border-left: none;
    border-bottom: none;
 }
 
 .total-accordion{
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
 }
 
 /* Note Card Content */
 
 
#delete-btn  {
    border: none;
    
    margin-left: 200px;
    padding: 0px;
    font-size: small;
    color: rgb(118, 118, 121);
    background-color: none;
   
 } 
 
/* index page */

 #note-card {
   background-color: aqua;
   width: 400px;
   
  
  
   /* margin-left:4%;
   margin-top: 50px;  */
 
   border-color: black;
   border-style: solid;
}


   


.body-text{
   
   max-height:300px;
   text-overflow: ellipsis;
   position: relative;
   display: inline-block;
   overflow: hidden;
   white-space:wrap;
}