#nav-bar{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
 }
 /* Modal Content */
 #accordion-padding-one{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;
 
 }
 
 
 
 #subject-title{
    border: none;
    font-size: xx-large;
    padding: 0px;
    
  
 }
   #add-task{
    max-width: 83%;
   }
 #button-addon2{
    margin-top: -16%;
    margin-left: 86%;
 }
 ul.list-group{
    --bs-list-group-item-padding-x:0rem ;
    --bs-list-group-item-padding-y:0rem ;
    font-size: medium;
    --bs-list-group-border-color: none;
    
 
 }
 
 div.accordion-item{
    border-right: none;
    border-left: none;
    border-bottom: none;
 }
 
 .total-accordion{
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
 }
 
 /* Note Card Content */
 
 
#delete-btn  {
    border: none;
    float: right;
   
    padding: 10px;
    font-size: small;
    color: rgb(118, 118, 121);
    --bs-btn-bg: aqua;
    --bs-btn-border-color: #0dfd69;
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 
   
 } 


 
/* index page */

 .note-card {
  
   background-color: aqua !important;
   width: 400px !important;
   height:400px !important;
 
  /*needed this styling to match horizontal. 48px8*/
  margin-left:3rem;
   
   border-color: black;
   border-style: solid;
}

  
   


.body-text{
   
 height:250px;
   text-overflow: ellipsis;
   position: relative;
   display: inline-block;
   overflow: hidden;
   white-space:wrap;


}

.card{
   --bs-card-border-width: 10px !important;
   --bs-card-cap-bg: none !important;
}